@model PrescriptionsDataAccess.Prescription

@{
	ViewBag.Title = "ReadPres";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section myScripts
{
	<script src="@Url.Content("~/Scripts/RedPill/read.js")"></script>
}


<div style="padding-top:20px" class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<table id="formTable" class="table table-bordered">
				<thead>
					<tr class="success">
						<td colspan="3">Query Prescriptions</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Pill Name:</td>
						<td><input type="text" id="txtPillName" size="40" value="" /></td>
						<td><input type="button" id="btnPillName" value="search by pill name" class="btn btn-success" /></td>
					</tr>
					<tr>
						<td>Patient ID:</td>
						<td><input type="text" id="txtPatientID" size="40" value="" /></td>
						<td><input type="button" id="btnPatient" value="search by patient ID" class="btn btn-success" /></td>
					</tr>
				</tbody>
			</table>
			<div align="center" class="success">
				<input id="btnClear" type="button" value="clear form" class="btn btn-success" />
				<a class="btn btn-success" href='@Url.Action("Index","Home")'>home page</a>
			</div>
		</div>
		<ul id="ulPrescriptions"></ul>
	</div>
</div>

