<div class="jumbotron">
	<h1>RedPill Client (ASP.NET)</h1>
	<p class="lead">POC for RedPill, where doctors can append qr code to the prescriptions they write.</p>
	<!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Write Prescription</h2>
        <p>Click here to fill prescription form.</p>
        <p><a class="btn btn-default" href="~/WriteForm.html">Write Prescription &raquo;</a></p>
    </div>
	<div class="col-md-4">
		<h2>Search Prescription</h2>
		<p>Click here to search previous prescriptions given.</p>
		<p><a class="btn btn-default" href = '@Url.Action("Read","Prescriptions")'>Search Previous Prescriptions &raquo;</a></p>
	</div>
</div>
