<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Search Perscriptions</title>
	<script src="Scripts/jquery-3.3.1.js"></script>
	<script src="Scripts/RedPill/read.js"></script>
	<link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="padding-top:20px">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<table id="formTable" class="table table-bordered">
				<thead>
					<tr class="success">
						<td colspan="3">Query Prescriptions</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Pill Name:</td>
						<td><input type="text" id="txtPillName" size="40" value="" /></td>
						<td><input type="button" id="btnPillName" value="search by pill name" class="btn btn-success" /></td>
					</tr>
					<tr>
						<td>Patient ID:</td>
						<td><input type="text" id="txtPatientID" size="40" value="" /></td>
						<td><input type="button" id="btnPatient" value="search by patient ID" class="btn btn-success" /></td>
					</tr>
				</tbody>
			</table>
			<div align="center" class="success">
				<input id="btnClear" type="button" value="clear form" class="btn btn-success" />
			</div>
		</div>
		<ul id="ulPrescriptions">

		</ul>
	</div>
	
	
</body>
</html>