<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7559c748-8860-467f-8de4-e35afc21e841/resourcegroups/gingosResourceGroup/providers/Microsoft.Web/sites/RedPill-dotnet</ResourceId>
    <ResourceGroup>gingosResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://redpill-dotnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>redpill-dotnet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RedPill-dotnet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RedPill-dotnet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RedPillEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gingossql.database.windows.net;Initial Catalog=redPillDB;User ID=gingossqladmin;Password=A4VX83gingos!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PrescriptionsDataAccess.RedPillEntities, PrescriptionsDataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RedPillEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PrescriptionsDataAccess.csdl|res://*/PrescriptionsDataAccess.ssdl|res://*/PrescriptionsDataAccess.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gingossql.database.windows.net;Initial Catalog=redPillDB;User ID=gingossqladmin;Password=A4VX83gingos!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>